# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - miscompras-api-prod

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: miscomprasacr.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EB899C07AFC64E3BA8B75299269948BD }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_D5F4D7532408418B89EED47EB4858341 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: miscomprasacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EB899C07AFC64E3BA8B75299269948BD }}/backend:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6B01ABA798AB4DACA9D55441F94E38BA }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2234C427D6B242CC9B4DE94547C9E8F3 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A6C5B787E0B4406BBE82F0481E3EC6F3 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'miscompras-api-prod'
          slot-name: 'Production'
          images: 'miscomprasacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EB899C07AFC64E3BA8B75299269948BD }}/backend:${{ github.sha }}'
          